pipeline/incr_seper_folder_loading_copy2.json
{
	"name": "incr_seper_folder_loading_copy2",
	"properties": {
		"description": "Incremental loding of data and also seperate it into respective folders",
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_param_file_lvl",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "landing",
							"p_folder": "nfhs6/to_ingest",
							"p_file": "to_ingest.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value[0].files\n",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 300,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": 4,
								"dataIntegrationUnits": 4
							},
							"inputs": [
								{
									"referenceName": "ds_param_file_lvl_binary",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "landing",
										"p_folder": "nfhs6/raw",
										"p_file": {
											"value": "@item().path",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_param_folder_lvl_binary_gzip",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "raw",
										"p_folder": {
											"value": "@concat(variables('sink'), variables('filename'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "filename",
								"value": {
									"value": "@split(item().path, '_')[0]",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Watermark_Update",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "lastload",
								"value": {
									"value": "@variables('max_value')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_param_file_lvl",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "landing",
							"p_folder": "nfhs6/emptyjson",
							"p_file": "empty.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_param_file_lvl",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "landing",
							"p_folder": "nfhs6/lastload",
							"p_file": "lastload.json"
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "max_value",
					"value": {
						"value": "@activity('Lookup').output.value[0].max_lastModified\n\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"max_value": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			},
			"sink": {
				"type": "String",
				"defaultValue": "__unitystorage/schemas/ebd705dc-a3d7-4b8c-8165-03162a85c2d0/volumes/38c109c7-a5df-4a05-b9b0-6a066422f77c/rawdata/"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-13T16:16:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}