pipeline/incr_seper_folder_loading.json
{
	"name": "incr_seper_folder_loading",
	"properties": {
		"description": "Incremental loding of data and also seperate it into respective folders",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable temp max value",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp_max_value",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.max_value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable max value",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "max_value",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.max_value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set variable temp max value",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable max value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_param_folder_lvl",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "landing",
							"p_folder": "nfhs6/raw"
						}
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('files')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata2",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_param_file_lvl",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "landing",
										"p_folder": "nfhs6/raw",
										"p_file": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(\n  less(\n    formatDateTime(variables('temp_max_value'), 'yyyyMMddHHmmss'),\n    formatDateTime(activity('Get Metadata2').output.lastModified, 'yyyyMMddHHmmss')\n  ),\n  equals(variables('x'), 0)\n)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "filename",
											"value": {
												"value": "@split(activity('Get Metadata2').output.itemName, '_')[0]",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Set variable1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_param_file_lvl_binary",
												"type": "DatasetReference",
												"parameters": {
													"p_container": "landing",
													"p_folder": "nfhs6/raw",
													"p_file": {
														"value": "@activity('Get Metadata2').output.itemName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_param_folder_lvl_binary_gzip",
												"type": "DatasetReference",
												"parameters": {
													"p_container": "raw",
													"p_folder": "@concat(variables('sink'), variables('filename'))"
												}
											}
										]
									},
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "temp_max_value",
											"value": {
												"value": "@activity('Get Metadata2').output.lastModified",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(\n    equals(\n        formatDateTime(variables('temp_max_value'), 'yyyyMMddHHmmss'),\n        formatDateTime(variables('max_value'), 'yyyyMMddHHmmss')\n    )\n)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable3",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "x",
											"value": 1
										}
									}
								]
							}
						},
						{
							"name": "If Condition3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(\n    or(\n        or(\n            less(\n                formatDateTime(variables('temp_max_value'), 'yyyyMMddHHmmss'),\n                formatDateTime(activity('Get Metadata2').output.lastModified, 'yyyyMMddHHmmss')\n            ),\n            equals(\n                formatDateTime(variables('temp_max_value'), 'yyyyMMddHHmmss'),\n                formatDateTime(activity('Get Metadata2').output.lastModified, 'yyyyMMddHHmmss')\n            )\n        ),\n        less(\n            formatDateTime(variables('max_value'), 'yyyyMMddHHmmss'),\n            formatDateTime(activity('Get Metadata2').output.lastModified, 'yyyyMMddHHmmss')\n        )\n    ),\n    equals(variables('x'), 1)\n)\n\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable4",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "filename",
											"value": {
												"value": "@split(activity('Get Metadata2').output.itemName, '_')[0]",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy data2",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Set variable4",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_param_file_lvl_binary",
												"type": "DatasetReference",
												"parameters": {
													"p_container": "landing",
													"p_folder": "nfhs6/raw",
													"p_file": {
														"value": "@activity('Get Metadata2').output.itemName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_param_folder_lvl_binary_gzip",
												"type": "DatasetReference",
												"parameters": {
													"p_container": "raw",
													"p_folder": {
														"value": "@concat(variables('sink'), variables('filename'))",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "If Condition4",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "If Condition3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(\n    less(\n        formatDateTime(variables('temp_max_value'), 'yyyyMMddHHmmss'),\n        formatDateTime(activity('Get Metadata2').output.lastModified, 'yyyyMMddHHmmss')\n    ),\n    equals(\n        formatDateTime(variables('temp_max_value'), 'yyyyMMddHHmmss'),\n        formatDateTime(activity('Get Metadata2').output.lastModified, 'yyyyMMddHHmmss')\n    )\n)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable5",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "temp_max_value",
											"value": {
												"value": "@activity('Get Metadata2').output.lastModified",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set variable6",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "max_value",
					"value": {
						"value": "@variables('temp_max_value')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable6",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateMaxValue]",
					"storedProcedureParameters": {
						"max_value": {
							"value": {
								"value": "@variables('max_value')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach1_copy1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Get Metadata3",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_param_file_lvl",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "landing",
										"p_folder": "nfhs6/raw",
										"p_file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							}
						},
						{
							"name": "If Condition1_copy",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@less(\n    int(formatDateTime(variables('max_value'), 'yyyyMMddHHmmss')),\n    int(formatDateTime(activity('Get Metadata3').output.lastModified, 'yyyyMMddHHmmss'))\n)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Append variable1_copy1",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "files",
											"value": {
												"value": "@activity('Get Metadata3').output.itemName\n\n",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"temp_max_value": {
				"type": "String"
			},
			"max_value": {
				"type": "String"
			},
			"x": {
				"type": "Integer",
				"defaultValue": 0
			},
			"filename": {
				"type": "String"
			},
			"sink": {
				"type": "String",
				"defaultValue": "__unitystorage/schemas/ebd705dc-a3d7-4b8c-8165-03162a85c2d0/volumes/38c109c7-a5df-4a05-b9b0-6a066422f77c/rawdata/"
			},
			"files": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-13T16:16:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}